html {
    font-size: 16px;
}

/* Font */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;

}

p,a {
    font-size: 1rem;
}

.category {
    font-size: 0.8rem;
}


/* Links */

.btn svg {
    fill: white;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover svg {
    transition: ease all 0.5s;
    fill:rgb(101, 24, 106);
}

.btn-1 {
    background-color: rgb(254, 250, 2);
    font-size: 0.7rem;
}

.btn-1 path {
    fill: black;
}

.btn-1:hover {
    background-color: rgb(236, 232, 10);
    transition: all ease 0.3s;
}

/* Button */

.pointer {
    cursor: pointer;
}


/* templates */

.card {
    width: 22rem;
}

.card-img {
    max-height: 200px;
}

.card-body {
    min-height: 250px;
}

.card-text {
    font-size: 1rem;
    height: 5rem;
}



/* Gallery */

.gallery img:hover {
    cursor: pointer;
}


/* Animation */


.fade-in {
    animation: fadeIn 1s ease-in;
    }


.load-top {
    animation: loadTop 1s ease;
}

.load-down {
    animation: loadDown 1s ease;
}

.load-left {
    animation: loadLeft 1s ease;
}

.load-right {
    animation: loadRight 1s ease;
}

.rotate-90 {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}


@keyframes loadTop{
    from{opacity: 0; transform: translateY(-20%);}
    to{opacity: 1;transform: translateY(0%);}
}

@keyframes loadDown{
    from{opacity: 0; transform: translateY(20%);}
    to{opacity: 1;transform: translateY(0%);}
}

@keyframes loadLeft{
    from{opacity: 0; transform: translate(-100%);}
    to{opacity: 1;transform: translate(0%);}
}

@keyframes loadRight{
    from{opacity: 0; transform: translate(100%);}
    to{opacity: 1;transform: translate(0%);}
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

