html {
    font-size: 16px;
}

/* colors */

:root {

    --dark1: #181226;
    --dark2: #3c2b5a;
    --dark3: #543f82;
    --light1: #fff68a;
    --light2: #ffdc4a;
    --accent1: #f7b20c;
    --accent2: #8c610a;

}

.bg1 {
    background-color: var(--light2);
}

.bg2 {
    background-color: var(--dark1);
}

/* Font */

@font-face {
    font-family: "nothing-serious";
    src:
      local("Nothing serious"),
      url("/assets/font/Nothing_serious.otf") format("opentype")
}

.nothing-serious-h1 {
    font-family: "nothing-serious";
    font-size: 3.2rem;
    color: var(--dark1);
} 

.nothing-serious-h2 {
    font-family: "nothing-serious";
    font-size: 2rem;
} 

.nothing-serious-h3 {
    font-family: "nothing-serious";
    font-size: 1.5rem;
} 

.nothing-serious-p {
    font-family: "nothing-serious";
    font-size: 1.2rem;
} 

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3 {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--dark3);
}

a:hover {
    color: var(--dark1);
}

p,a {
    font-size: 1rem;
}

nav a span{
    font-size: 0.7rem;
}

.category {
    font-size: 0.8rem;
}

.fs-info {
    font-size: 0.7rem;
    font-weight: 600
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
    font-style: normal;

}


/* border  */

.border1 {
    border: var(--dark1) solid 1px;
    border-radius: 20px;
}


/* Links */

.btn svg {
    fill: white;
}

nav a svg {
    fill: var(--dark2);
}

nav a svg:hover {
    fill: var(--dark3);
}

.active svg {
    fill: var(--dark1);
}



/* Button */

.pointer {
    cursor: pointer;
}

.btn-style-reset {
    border: none;
    background-color: none;
}

.btn1 {
    background-color: var(--accent1);
    border: none;
    border-radius: 10px;
}

.btn1:hover {
    background-color: var(--accent2);
    color: white;
}


.btn2 {
    background-color: none;
    border: var(--accent2) solid 1px;
    color: var(--dark1);
}

.btn2:hover {
    color: var(--accent1);
    border: var(--accent1) solid 1px;
}

.btn2:hover svg {
    fill: var(--accent1) !important;
    transition: all ease 1s;
    transform: rotate(360deg);
}


.search:hover .btn-rotate{
    transition: all ease 1s;
    transform: rotate(360deg);
}

.btn-rotate:hover {
    transition: all ease 1s;
    transform: rotate(360deg);
}


/* templates */

.card {
    width: 22rem;
}

.card-img {
    max-height: 200px;
}

.card-body {
    min-height: 250px;
    width: 100%;
}

.card-title {
    height: 3rem;
}

.card-text {
    font-size: 1rem;
    height: 4rem;
}

.card-category {
    display: inline-block;
    background-color: var(--light2);
    border-radius: 5px;
}

.card-spec {
    height: 1.5rem;
    border: var(--dark1) solid 0.1px;
    border-radius: 5px;
}

.card-notation svg{
    fill: var(--accent1);
}

.card-cta {
    height: 2rem;
}

.card-cta svg {
    fill: var(--dark1);
}

.card-cta form:hover svg {
    fill:white;
    transition: all 0.5s ease;
}



/* Gallery */

.gallery img:hover {
    cursor: pointer;
}


/* Animation */


.fade-in {
    animation: fadeIn 1s ease-in;
    }


.load-top {
    animation: loadTop 1s ease;
}

.load-down {
    animation: loadDown 1s ease;
}

.load-left {
    animation: loadLeft 1s ease;
}

.load-right {
    animation: loadRight 1s ease;
}


@keyframes loadTop{
    from{opacity: 0; transform: translateY(-20%);}
    to{opacity: 1;transform: translateY(0%);}
}

@keyframes loadDown{
    from{opacity: 0; transform: translateY(20%);}
    to{opacity: 1;transform: translateY(0%);}
}

@keyframes loadLeft{
    from{opacity: 0; transform: translate(-100%);}
    to{opacity: 1;transform: translate(0%);}
}

@keyframes loadRight{
    from{opacity: 0; transform: translate(100%);}
    to{opacity: 1;transform: translate(0%);}
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

